NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0x15cBa4fcd455e7389Fa04D80cd4d84016A0DCeA3
NEXT_PUBLIC_BASE_APP_ID=placeholder
NEXT_PUBLIC_BUILDER_CODE=bc_placeholder
# NEXT_PUBLIC_BUILDER_CODE_SUFFIX=0x...
# NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
