NEXT_PUBLIC_SITE_URL=https://tron-light-cycles.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0x15cBa4fcd455e7389Fa04D80cd4d84016A0DCeA3
NEXT_PUBLIC_BASE_APP_ID=6a0970691b76c7abf6d06a89
NEXT_PUBLIC_BUILDER_CODE=bc_4wwccvuz
# NEXT_PUBLIC_BUILDER_CODE_SUFFIX=0x...
# NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
